* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black; 
    color: white;             
}

.container {
    width: 100vw;
    padding: 0; 
          
}


/************
    HOME
************/

.nav {    
    border-bottom: 1px solid white;    
}

.nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;    
}

.nav a:hover {
    color: yellow;
    text-decoration: line-through;
}

#home {
    display: flex;
    text-align: center;
    justify-content: center;  
    height: 99vh;    
    padding-top: 50px;
}

#back img {
    width: 50px;
    height: 50px;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 50%;       
    background-size: cover;  
    padding: 5px;
    margin: 20px;
    position: fixed;  
    right: 50px; 
    bottom: 5px; 
}

/************
    PROJETOS
************/
#projetos {    
    text-align: center;    
}

#project {
   display: flex;   
   align-items: center;
   justify-content: center;
   margin: 0 0 20px 0;   
}

h7 {
    color: yellow;
}


/****************
    Technologies
*****************/

#technologies {
    display: block;
    text-align: center;
    height: fit-content;
    padding: 20px 0;    
    user-select: none;   
}

#technologies div {
    display: flex;  
    flex-wrap: wrap;    
    align-items: center;
    justify-content: center; 
}

#technologies div span {
    padding: 20px;
}

#technologies div span:hover {
    color: yellow;
}


/************
    CONTATO
************/

#contato {
    margin-top: 20px;
    height: 90vh;    
    text-align: center;    
}

#contato img {
    background-color: #cccccc;
    border-radius: 50%;
    margin-left: 10px;
}

#divInfos { 
    height: 100%;  
    display: flex;    
    text-align: center;
    justify-content: center;
    align-items: center;    
}

#divInfos img:hover {
    background-color: yellow;
}

#divInfos span:hover {
    color: yellow;    
}

/************
    GALLERY
************/
#gallery {    
    text-align: center;
    display: none;    
}

#gallery img {
    margin: 0 auto;
    display: block;
    border-radius: 50%;
}

#gallery #gallery-wrapper {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-wrap: wrap;
    width: 900px;
}

#gallery #gallery-wrapper div {
    border: 10px solid white;
    margin: 6px;
    width: 33%; 
    border-radius: 50%;   
}

#gallery #gallery-wrapper img {
    width: 100%;    
}

/************
    FOOTER
************/

.footer {    
    text-align: center;
    padding: 20px;
    height: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;       
}

.footer h6 {
    position: absolute;   
    margin-top: 60px;    
}

#bgtoggle img {
    width: 30px;
    height: 30px;
    background-color: black;
    border: 1px solid white;
    border-radius: 50%;       
    background-size: cover;  
    padding: 5px;
    margin: 20px;    
}

#bgtoggle img {
    display: none;
}
