.typing {
    border-right: 1px solid black;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;    
}

.typing-animation {
    animation: blinkCursor 500ms steps(40) infinite normal, typing 4s steps(40) 1s normal both;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 12.4em;
    }
}

@keyframes blinkCursor {
    from {
        border-right-color: black;
    }
    to {
        border-right-color: transparent;
    }
}