@import url("css/btnHire.css");
@import url("css/card.css");
@import url("css/cube.css");
@import url("css/home.css");
@import url("css/typing.css");


#sectionHome {
    background-image: url("https://github.com/brunojacby/brunojacby/blob/master/img/bg.jpg?raw=true");
    background-repeat: repeat;
    background-position: center;    
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(1.5);
}
