@import url("css/btnHire.css");
@import url("css/card.css");
@import url("css/cube.css");
@import url("css/home.css");
@import url("css/typing.css");


#sectionHome {    
    background-image: url("img/bg3.jpg");
    background-repeat: no-repeat;
    background-position: center;    
    background-size: cover;
    background-attachment: fixed;
}
